*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins/Poppins-Black.ttf) format('ttf');
}

body{
    font-family: 'Poppins', Poppins-Black;
}

img.logoimage{
    display: inline-block;
    line-height: 60px;
    width: 35px;
    height: 35px;
    margin: 0 5px 7px;
}

nav{
    background: #6D2419;
    height: 60px;
    width: 100%;
}

span.navbartext{
    font-weight: 625;
    font-size: 22px;
    color: white;
}

label.logo{
    color: #FFFF;
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;
}

nav ul li a{
    color: #FFFF;
    font-size: 15px;
    padding: 5px 15px 5px;
    border-radius: 20px;
}

a.active{
    background: #FFFF;
    text-decoration: none;
    text-align: center;
    color: #1E1918;
    font-weight: 400;
    width: 100px;
}

a.nav-link:hover{
    background: #FFFF;
    transition: .2s;
    text-decoration: none;
    color: #1E1918 !important;
    padding: 5px 20px;
}

.text-brown{
    color: rgb(198, 127, 97);
}

.text-darkbrown{
    color: #57210A;
}

.text-lightbrown{
    color: #AC7B87;
}

.bg-brown{
    background-color: #C67F61;
    color: #1E1918;
}

  .jumbotron {
    background-image: url('../img/Rectangle-12.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin-bottom: 0px;
}

.custom-container {
    background-color: rgba(198, 127, 97, 0.39);
    padding: 20px; 
}

.titleproduction{
    margin-top: 50px;
}

.titleproduct{
    margin-top: 100px;
    margin-bottom: 125px;
}

.titlecontact{
    margin-top: 75px;
    margin-bottom: 75px;
}

.production{
    width: 270px;
    height: 480px;
}

.production2{
    width: 270px;
    height: 480px;
    justify-content: right;
    align-items: end;
}

.production4{
    width: 270px;
    height: 480px;
}

.production5{
    width: 270px;
    height: 480px;
    justify-content: right;
    align-items: end;
}

.contactrow{
    margin-top: 75px;
    align-items: center;
}

.firstrow{
    align-items: center;
}
.secondrow{
    align-items: center;
}
.thirdrow{
    align-items: center;
}
.fourthrow{
    align-items: center;
}
.fifthrow{
    align-items: center;
}

footer{
    background-image: url(../img/foto-footer.png);
    background-position: center;
    color: white;
    text-align: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white; /* Warna teks */
    padding: 20px; /* Ruang padding */
}

footer.footerproduct{
    background-image: url(../img/foto-footer.png);
    background-position: center;
    color: white;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white; /* Warna teks */
    padding: 20px; /* Ruang padding */
}

.logofooter{
    width: 60px;
    height: 60px;
}

#copyright{
    margin-top: 10px;
}

#footer{
    align-items: center;
}

.product1{
    width: 250px;
    height: 225px;
}
.product2{
    width: 250px;
    height: 225px;
}
.contact1{
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
}
.contact2{
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
}

.centered-item{
    display: flex;
    justify-content: center; /* Mengatur posisi horizontal ke tengah */
}

.contactcol1{
    padding-right: 75px;
}

.contactcol2{
    padding-left: 75px;
}

.wacapt{
    font-size: 15px;
    color: black;
    padding: 10px 5px;
    border-radius: 20px;
}
.wacapt:hover{
    background: #57210A;
    transition: .2s;
    text-decoration: none;
    color: #FFFF;
}

.igcapt{
    font-size: 15px;
    color: black;
    padding: 10px 7px;
    border-radius: 20px;
}
.igcapt:hover{
    background: #57210A;
    transition: .2s;
    text-decoration: none;
    color: #FFFF;
}
.indexproduction{
    margin-bottom: 50px;
}

.readmore{
    background: #57210A;
    text-decoration: none;
    color: #FFFF;
    margin-top: 10px;
    padding: 5px 10px 5px;
    text-align: center;
    border-radius: 20px;
}

.productbg{
    background-image: url(../img/Bg-ourProducts\ \(3\).png);
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.ourproduct{
    font-weight: 700;
}

.enjoy{
    padding-top: 10px;
    font-size: 13px;
}

.carousel-caption{
    position: absolute;
    top: 75%; /* Posisi vertikal tengah */
    left: 50%; /* Posisi horizontal tengah */
    transform: translate(-50%, -50%); /* Membuat posisi tengah relatif terhadap elemen carousel */
    text-align: center; /* Untuk teks berada di tengah secara horizontal */
}