.text-brown{
    color: #C67F61;
}

.text-darkbrown{
    color: #57210A;
}

.text-lightbrown{
    color: #AC7B87;
}

.bg-brown{
    background-color: #C67F61;
    color: #FFFF;
}

.titleproduction{
    margin-top: 50px;
}

.production{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.firstrow{
    margin-top: 100px;
    align-items: center;
}
.secondrow{
    margin-top: 100px;
    align-items: center;
}

