*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img.logoimage{
    display: inline-block;
    line-height: 60px;
    width: 35px;
    height: 35px;
    margin: 0 5px 7px;
}

nav{
    background: #C67F61;
    height: 60px;
    width: 100%;
}

span.navbartext{
    font-weight: 625;
    font-size: 22px;
    color: white;
}

label.logo{
    color: #FFFF;
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;
}

nav ul li a{
    color: #FFFF;
    font-size: 15px;
    padding: 5px 15px 5px;
    border-radius: 20px;
}

a.active{
    background: #57210A;
    transition: .2s;
    text-decoration: none;
    text-align: center;
    color: #FFFF;
    width: 100px;
}

a.nav-link:hover{
    background: #57210A;
    transition: .2s;
    text-decoration: none;
    color: #FFFF;
    padding: 5px 20px;
}

.checkbtn{
    font-size: 30px;
    color: #FFFF;
    float: right;
}

.text-brown{
    color: rgb(198, 127, 97);
}

.text-darkbrown{
    color: #57210A;
}

.text-lightbrown{
    color: #AC7B87;
}

.bg-brown{
    background-color: #C67F61;
    color: #FFFF;
}

.center-badge {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .jumbotron {
    background-image: url('../img/Rectangle-12.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin-bottom: 0px;
}

.custom-container {
    background-color: rgba(198, 127, 97, 0.39);
    padding: 20px; 
}

.titleproduction{
    margin-top: 100px;
}

.titleproduct{
    margin-top: 100px;
    margin-bottom: 125px;
}

.titlecontact{
    margin-top: 75px;
    margin-bottom: 75px;
}

.production{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.production2{
    width: 200px;
    height: 200px;
    margin-left: 35px;
    border-radius: 50%;
}

.production4{
    width: 200px;
    height: 200px;
    margin-left: 33px;
    border-radius: 50%;
}

.production5{
    width: 200px;
    height: 200px;
    margin-right: 200px;
    border-radius: 50%;
}

.firstrow{
    margin-top: 100px;
    align-items: center;
}
.secondrow{
    margin-top: 100px;
    align-items: center;
}
.thirdrow{
    margin-top: 100px;
    align-items: center;
}
.fourthrow{
    margin-bottom: 100px;
    align-items: center;
}
.fifthrow{
    margin-bottom: 100px;
    align-items: center;
}

footer{
    background-image: url(../img/foto-footer.png);
    background-position: center;
    color: white;
    text-align: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white; /* Warna teks */
    padding: 20px; /* Ruang padding */
}

footer.footerproduct{
    background-image: url(../img/foto-footer.png);
    background-position: center;
    color: white;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white; /* Warna teks */
    padding: 20px; /* Ruang padding */
}

.logofooter{
    width: 60px;
    height: 60px;
}

#copyright{
    margin-top: 10px;
}

#footer{
    align-items: center;
}

.product1{
    width: 250px;
    height: 225px;
}
.product2{
    width: 250px;
    height: 225px;
}
.contact1{
    width: 225px;
    height: 225px;
}
.contact2{
    width: 200px;
    height: 200px;
}